version: "3"

services:
  frontend:
    build: ./frontend
    command: start
    working_dir: /usr/src/app
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/usr/src/app/src

  envoy:
    build: ./envoy
    ports:
      - "8080:8080"
      - "9901:9901"
